@import "variables";

.text-danger {
  @include font("Barlow Regular", 14px, $text-alert);
  margin-top: 5px;
}

._page-title {
  @include font("Montserrat Bold", 25px, $text-light-green);
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: left;
}


._header {
  @include font("Montserrat Bold", 36px);
  text-transform: uppercase;
}

._subheader {
  @include font("Montserrat Regular", 20px);
}

._info {
  @include font("Barlow Regular", 16px, $text-light-green);
}

._bold {
  @include font("Montserrat Regular", 14px);
  font-weight: 600;
}

@media (max-width: $breakpoint-mobile) {
  ._header {
    @include font("Montserrat Bold", 24px);
  }

  ._subheader {
    @include font("Montserrat Regular", 16px);
  }

  .text-danger {
    @include font("Barlow Regular", 14px, darken($text-alert, 5%));
    font-weight: bold;
  }
}