@import "variables";

.text-danger {
  @include font("Roboto", 14px, $error);
  margin-top: 8px;
}

._page-title {
  @include font("Roboto Condensed", 24px, $onSurface);
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: left;
}


._header {
  @include font("Montserrat Bold", 36px, lighten($primary500, 30%));
  text-transform: uppercase;
}

._subheader {
  @include font("Roboto Condensed", 20px, lighten($primary500, 30%));
}

._info {
  @include font("Roboto", 14px, $onSurface);
}

._bold {
  @include font("Roboto", 14px, $onSurface);
  font-weight: 600;
}

@media (max-width: $breakpoint-mobile) {
  ._header {
    @include font("Montserrat Bold", 24px);
  }

  ._subheader {
    @include font("Roboto Condensed", 16px);
  }

  .text-danger {
    @include font("Roboto", 14px, $error);
    font-weight: bold;
  }
}