@import "styles/_base/mixins";
@import "styles/_base/variables";

.form__group {
  @include flex(column, center, flex-start);
  @include size(100%);
  margin-bottom: 30px;

  &-header {
    @include font("Roboto", 22px);
    font-weight: 500;
    //text-transform: uppercase;
    margin-bottom: 9px;
  }

  &-inputs {
    @include flex(row, flex-start, flex-start);
    @include size(100%);
    flex-wrap: wrap;
  }
}

.input__group {
  position: relative;
  margin: 20px 0;
  max-width: 320px;
  color: $onSurface;
  width: 100%;
  margin-right: 20px;

  &-radio {
    position: relative;
    @include flex();
    margin: 20px 30px 20px 0;

    input {
      position: absolute;
      left: 0;
      width: 55px;
      height: 20px;
      opacity: 0;
      z-index: $z-layer-2;
      cursor: pointer;

      &:checked ~ label {
        &:before {
          border-color: $secondary500;
        }

        &:after {
          transform: scale(1, 1);
        }
      }
    }

    label {
      padding: 0 0 0 24px;
      cursor: pointer;
      user-select: none;

      &:before {
        content: '';
        position: absolute;
        top: -2px;
        left: 0;
        width: 16px;
        height: 16px;
        background-color: transparent;
        border: 2px solid rgba($onBackground, 0.5);
        border-radius: 14px;
        z-index: $z-layer-1;
        transition: border-color 0.28s cubic-bezier(.4, 0, .2, 1);
      }

      &:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 4px;
        width: 12px;
        height: 12px;
        background-color: $primary500;
        border-radius: 50%;
        z-index: $z-layer-2;
        transform: scale(0, 0);
        transition: transform 0.28s cubic-bezier(.4, 0, .2, 1);
      }
    }
  }

  &._date {
    cursor: pointer;
  }

  label {
    @include font("Roboto", 16px);
    position: absolute;
    left: 0;
    top: -20px;
    transition: 0.3s ease all;
  }

  input {
    @include font("Roboto", 18px);
    @include size(100%, 50px);
    box-sizing: border-box;
    background: $background;
    padding: 10px 10px 10px 5px;
    outline: none;

    border: 1px solid $primary700;
    border-radius: 4px;


    &:focus {
      border-color: $primary500;
    }

    &:focus ~ label {
      @include font("Roboto", 16px, $primary500);
    }
  }

  .react-calendar {
    position: absolute;
    z-index: $z-layer-1;
  }

  &._error {
    input {
      border-color: $error;

      &:focus ~ label {
        color: $error;
      }
    }

    label {
      color: $error;
    }
  }
}