@import "styles/_base/mixins";
@import "styles/_base/variables";

.form__group {
  @include flex(column, center, flex-start);
  @include size(100%);
  margin-bottom: 30px;

  &-header {
    @include font("Roboto", 22px);
    font-weight: 500;
    //text-transform: uppercase;
    margin-bottom: 9px;
  }

  &-inputs {
    @include flex(row, flex-start, flex-start);
    @include size(100%);
    flex-wrap: wrap;
  }
}

.input__group {
  position: relative;
  margin: 20px 0;
  max-width: 320px;
  color: $onSurface;
  width: 100%;
  margin-right: 20px;

  .bar {
    position: relative;
    display: block;
    width: 100%;

    &:before {
      content: '';
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: $primary500;
      transition: 0.3s ease all;
      left: 0;
    }
  }

  label {
    @include font("Roboto", 16px);
    position: absolute;
    left: 5px;
    top: 10px;
    transition: 0.3s ease all;
  }

  input {
    @include font("Roboto", 18px);
    @include size(100%);
    box-sizing: border-box;
    background: none;
    padding: 10px 10px 10px 5px;
    border: none;
    outline: none;

    border-bottom: 1px solid $onSurface;

    &:focus ~ label,
    &:valid ~ label {
      @include font("Roboto", 12px, $primary500);
      top: -14px;
    }

    &:focus ~ .bar:before {
      width: 100%;
    }
  }
}