$color-white: #ffffff;
$color-green-background: #305a5d;
$color-green-light: #a6b8c8;

$background-radialGradient-green: radial-gradient(circle, rgba(48,90,93,1) 0%, rgba(42,53,70,1) 76%, rgba(26,47,51,1) 100%);

$text-dark: #27253d;
$text-light-green: #648269;
