$color-white: #ffffff;
$color-light-green: #a6b8c8;


$bg-color-green: #305a5d;
$bg-rad-gradient-green: radial-gradient(circle, rgba(48,90,93,1) 0%, rgba(42,53,70,1) 76%, rgba(26,47,51,1) 100%);

$text-dark: #27253d;
$text-alert: #b76e6e;
$text-light-green: #648269;
