@import "styles/_base/mixins";
@import "styles/_base/variables";

.page__login {
  @include size(20vw, 70vh);
  @include flex(row, flex-start, center);
  position: relative;
  overflow: hidden;
  background-color: $background;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  /*svg {
    @include size(auto, 100%);
    border-radius: 4px;

    #g612,
    #g624 {
      animation: animateLeavesLeft 5s linear infinite;
    }

    #g260 {
      animation: animateLeavesRight 10s linear infinite;
    }

    #g732 {
      animation: animateLeavesTop 6s linear infinite;
    }
  }*/

  &-wrapper {
    @include flex(column, flex-start, center);
    @include size(340px, 60vh);
    z-index: $z-layer-1;
    margin: 0 auto;

    svg {
      transition: all .3s linear;
    }

    .registration {
      @include font("Roboto", 16px, $onBackground);
      display: block;
      margin-bottom: 10px;

      a {
        color: $secondary500;
        transition: color .3s linear;

        &:hover {
          color: $secondary700
        }

        &:active {
          color: darken($secondary700, 10%);
        }
      }
    }

    .not_authorized {
      background: darken($background, 1%);
      padding: 10px 20px;
    }

    .forgot-password {
      @include font("Roboto", 14px, $onBackground);
      display: block;
      text-align: right;
      transition: color .3s linear;

      &:hover {
        color: $secondary700
      }

      &:active {
        color: darken($secondary700, 10%);
      }
    }

    &__welcome {
      @include font("Montserrat Regular", 25px, $onBackground);
      display: block;
      margin-bottom: 20px;

      strong {
        @include font("Montserrat Bold", 25px, $text-light-green);
        font-weight: bold;
      }
    }
  }

  ._header {
    margin-bottom: 30px;
    color: rgba($onSurface, 0.8)
  }

  .form {
    width: 285px;

    &__button {
      @include font("Roboto", 16px, $onPrimary700);
      text-transform: uppercase;
      font-weight: 400;
      cursor: pointer;
      border: none;
      user-select: none;
      outline: none;
      padding: 10px 20px;
      margin: 25px 0 15px;
      border-radius: 20px;

      background: $secondary500;
      transition: all 0.3s linear;

      &:hover {
        background: $secondary700;
        color: $onPrimary700
      }

      &:active {
        background: darken($secondary700, 10%);
        color: $onPrimary700
      }

      &.disabled {
        cursor: auto;
        user-select: none;
        pointer-events: none;
        background: $bg-color-disabled;
        color: $text-disabled;
      }
    }
  }
}

@media (max-width: $breakpoint-mobile) {
  .page__login {
    @include size(90vw, 90vh);

    svg {
      position: absolute;
      left: -90vw;
      opacity: 0.3;
    }

    &-wrapper {
      max-width: 228px;
      margin: 0 auto;
    }

    ._header {
      margin-bottom: 20px;
    }

    .form {
      max-width: 220px;
      input {
        &:focus ~ label,
        &:valid ~ label {
          @include font("Barlow Regular", 12px, darken($text-light-green, 20%));
          top: -14px;
        }
       }
    }
  }
}


@keyframes animateLeavesLeft {
  0% {
    transform: rotate(0deg) ;
  }

  50% {
    transform: rotate(1deg) ;
  }

  100% {
    transform: rotate(0deg) ;
  }
}

@keyframes animateLeavesRight {
  0% {
    transform: rotate(3deg) translate(73px, 263px);
  }

  50% {
    transform: rotate(0deg) translate(73px, 263px);
  }

  100% {
    transform: rotate(3deg) translate(73px, 263px);
  }
}

@keyframes animateLeavesTop {
  0% {
    transform: rotate(0deg) translate(0, 0px);
  }

  50% {
    transform: rotate(0deg) translate(0, -2px);
  }

  100% {
    transform: rotate(0deg) translate(0, 0px);
  }
}

