@import "styles/_base/mixins";
@import "styles/_base/variables";


.new-patient {
  &__form {
    @include flex(column, flex-start, flex-start);
    @include size(100%, 100%);
    box-sizing: border-box;

    .form__button {
      @include size(null, 43px);
      @include font("Roboto", 18px);
      text-transform: uppercase;
      padding: 0 60px;
      line-height: 43px;
      background-color: $secondary500;
      color: $onSecondary;
      border-radius: 4px;
      cursor: pointer;
      transition: all .3s linear;
      user-select: none;

      &:hover {
        background-color: darken($secondary500, 5%);
      }

      &:active {
        background-color: $secondary700;
      }

      &.disabled {
        pointer-events: none;
        user-select: none;
        background-color: $bg-color-disabled;
      }
    }
  }
}
